.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}
.intro-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
